<ion-view title="Carrier Contacted" hide-nav-bar="true" id="page11">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 320px; height: 3px;"></div>
        <h3 id="carrierContacted-heading16" style="color:#707070;font-weight:400;text-align:center;">Roy will contact you soon</h3>
        <form id="carrierContacted-form10" class="list">
            <ion-item class="item-avatar" id="carrierContacted-list-item19" ui-sref="sendWithRelay.carrierProfile">
                <img src="img/uNnoWShS3qvgq4VD6aYA_man.png">
                <h2>Roy Mcoy</h2>
                <p style="white-space:normal;">Flying LAX-DEL
                    <br>Nov 15th, 2016</p>
            </ion-item>
            <ion-item class="item-divider" id="carrierContacted-list-item-divider2">Relay Summary</ion-item>
            <ion-item class="item-thumbnail-left" id="carrierContacted-list-item4">
                <img src="img/JFDH4hz7RfaIJ4UDLA4z_10lb.png">
                <h2>LAX-DEL</h2>
                <p style="white-space:normal;">10 lbs
                    <br>Expected Nov 28th
                    <br>Relayed by Roy Mcoy</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>