<ion-view title="Carrier Found" hide-nav-bar="true" id="page9">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <h3 id="carrierFound-heading9" style="color:#707070;font-weight:400;text-align:center;">Roy Mcoy will be your
            <br>Relay carrier.</h3>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <form id="carrierFound-form9" class="list">
            <ion-item class="item-avatar" id="carrierFound-list-item12" ui-sref="sendWithRelay.carrierProfile">
                <img src="img/uNnoWShS3qvgq4VD6aYA_man.png">
                <h2>Roy Mcoy</h2>
                <p style="white-space:normal;">Flying LAX-DEL
                    <br>Nov 15th, 2016</p>
            </ion-item>
            <h3 id="carrierFound-heading10" style="color:#707070;font-weight:400;text-align:center;">Who will receive the package from Roy?</h3>
            <label class="item item-input item-floating-label" id="carrierFound-input22">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label" id="carrierFound-input23">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Phone">
            </label>
            <div class="spacer" style="width: 320px; height: 23px;"></div>
        </form>
        <a ui-sref="sendWithRelay.carrierContacted" id="carrierFound-button9" style="font-size:18px;border-radius:0px 0px 0px 0px;" class="button button-energized button-large button-full">Request Relay</a>
    </ion-content>
</ion-view>