<ion-view title="Destination Address" hide-nav-bar="true" id="page5">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <h3 id="destinationAddress-heading5" style="color:#707070;font-weight:400;text-align:center;">Where is the package going?</h3>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <form id="destinationAddress-form3" class="list">
            <label class="item item-input item-floating-label" id="destinationAddress-input5">
                <span class="input-label">Street, Apt/Unit</span>
                <input type="text" placeholder="Street, Apt/Unit">
            </label>
            <label class="item item-input item-floating-label" id="destinationAddress-input6">
                <span class="input-label">City</span>
                <input type="text" placeholder="City, State">
            </label>
            <label class="item item-input item-floating-label" id="destinationAddress-input7">
                <span class="input-label">Zipcode</span>
                <input type="text" placeholder="Zipcode">
            </label>
        </form>
        <div class="spacer" style="width: 320px; height: 120px;"></div>
        <a ui-sref="sendWithRelay.weightSelection" id="destinationAddress-button5" style="font-size:18px;border-radius:0px 0px 0px 0px;" class="button button-energized button-large button-full">Select Weight</a>
    </ion-content>
</ion-view>