<ion-view title="My Packages" id="page1">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <h3 id="myPackages-heading1" style="color:#707070;font-weight:400;">Hello, {{loggedInEmailCustomVar}}
            <br>You have no packages.</h3>
        <div class="spacer" style="width: 300px; height: 349px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="sendWithRelay.senderAddress" id="myPackages-button1" style="left:-10px;font-size:18px;border-radius:0px 0px 0px 0px;" class="button button-energized button-large button-full">Send a package</a>
        </div>
    </ion-content>
</ion-view>