<ion-view title="Payment" id="page2">
    <ion-content padding="true" class="has-header">
        <h3 id="payment-heading3" style="color:#707070;font-weight:400;">No payment method setup.</h3>
        <div class="spacer" style="width: 300px; height: 359px;"></div>
        <div style="margin-right:-20px;">
            <button id="payment-button3" style="left:-10px;" class="button button-energized button-large button-full">Setup Payment Method</button>
        </div>
    </ion-content>
</ion-view>