<ion-view title="Weight Selection" hide-nav-bar="true" id="page6">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <h3 id="weightSelection-heading6" style="color:#707070;font-weight:400;text-align:center;">Pick a weight category?</h3>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list id="weightSelection-list1">
            <ion-radio id="weightSelection-radio5">Small
                <br>Upto 5 lbs</ion-radio>
            <ion-radio id="weightSelection-radio6">Medium
                <br>Upto 10 lbs</ion-radio>
            <ion-radio id="weightSelection-radio7">Large
                <br>Upto 15 lbs</ion-radio>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 155px;"></div>
        <a ui-sref="sendWithRelay.dimensions" id="weightSelection-button6" style="font-size:18px;border-radius:0px 0px 0px 0px;" class="button button-energized button-large button-full">Enter Dimensions</a>
    </ion-content>
</ion-view>